In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pingouin as pg
import pandas as pd

In [2]:
mean1 = 4
mean2 = 3.8
mean3 = 7

N = 30

st_dev = 2

In [7]:
data1 = mean1 + np.random.randn(N) * st_dev
data2 = mean2 + np.random.randn(N) * st_dev
data3 = mean3 + np.random.randn(N) * st_dev

data_mat = np.vstack((data1, data2, data3)).T

df = pd.DataFrame(data_mat, columns=['d1', 'd2', 'd3'])

df.head(5)

         d1        d2        d3
0  6.283775  4.669957  8.889675
1  1.963791  3.980079  9.886384
2  2.598768  6.768060  4.918296
3  4.787173  3.135473  9.103136
4  2.823884  3.568233  3.226099